{% load static %}
<html>
  <head>
    <title>Appointment Manager</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <script src="{% static 'js/jquery-3.0.0.min.js' %}" ></script>
    <script src="{% static 'js/popper.min.js' %}" ></script>
    <script src="{% static 'js/bootstrap.min.js' %}" ></script>
    <script>
function getAppointments(searchstring)
{
  data={fetch:true};
  if (searchstring !=undefined)
  {
    data={search:searchstring};
  }
  $.ajax({method:"GET",
    url:"/", //we changed to make this our root url
    data:data
  }).done(receiveAppointments);
}
function receiveAppointments(msg)
{
  if(msg.appointments)
  {
    //msg.appointments=[{'description':'ha'}]
    table=$("#outputtable tbody")
    table.empty()
    msg.appointments.forEach(function(item, index)
      {
        table.append("<tr>"+
            //"<td><span class=\"glyphicons glyphicons-calendar\"></span></td>"+
            "<td>"+item.date+"</td>"+
            "<td>"+item.time+"</td>"+
            "<td>"+item.description+"</td>"+
            "</tr>");
      }
    );
  }
}
$(function(){
  $("#newform").hide();
  getAppointments();
  $("#searchbutton").click(
    function()
    {
      getAppointments($("#searchtext").val())
    }
  );
  $("#new").click(
  function() {
    $("#newform").show();
    $("#new").hide();

  });

  $("#searchtext").keydown(function(arg){
    if(arg.key=="Enter")
    {
      getAppointments($("#searchtext").val())
    }
  });
  $("#cancel").click(function(){
    $("#newform").hide();
    $(":input","#newform").not(":button").val("");
    $("#new").show();
  });
});

    </script>
  </head>
  <body>

    <div class="container">
      <div class="page-header">
        <h1>Appointments</h1>
      </div>
      <div class="panel panel-default">
        <button class="btn-primary" id="new">new</button>
        <div id="newform" class="form-group">
          <form method="post" action="/">
            {% csrf_token %}
            <label for="date">Date</label>
            <input type="date" class="form-control" name="date" id="date"/>
            <label for="time">Time</label>
            <input type="time" class="form-control" name="time" id="time">
            <label for="description">Description</label>
            <input type="text" id="description" class="form-control" name="description" />

            <button id="cancel" type="button" class="btn-warning">Cancel</button>
            <button id="submit" class="btn-primary">Submit</button>
          </form>
        </div>
      </div>
      <p>
      <input type="text" id="searchtext" />
      <button class="btn-primary" id="searchbutton">search</button>
      </p>
      <div class="panel panel-default">
        <div class="panel-heading">
          Scheduled Appointments
        </div>
        <div class="panel-body">
          <table id="outputtable" class="table table-striped" >
            <thead>
              <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
      </div>
      </div>
    </div>
  </body>
</html>
